
@media (min-width: 768px) and (max-width: 1023px) {


    header {
        flex-direction: column;
        padding-bottom: 80px;
    }

    header .header-container {
        display: flex;
        padding-top: 10px;
        flex-direction: row;
    }

    .section-menu--desktop {
        display: none;
    }

    header section.section-menu--mediaquerie {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-self: center;

    }

    .section-menu--mediaquerie img {
        max-width: 150px;
    }

    .section-menu--mediaquerie .login-mobile {
        display: flex;
    }

    .section-menu--mediaquerie .menu-right-align {
        flex-direction: row-reverse;
        gap: 0px;
    }

    .menu-right-align #menuToggle {
        display: block;
        background-color: transparent;
        z-index: 1000;
    }


    #right-menu-mobile.active .menu-rightbar-container {
        display: block;
        color: #23272A;
        background: rgba(0,0,0,.3);
        height: 100%;
        width: 100%;
        margin: 0;
        top: 0px;
        right: 0;
        z-index: 10;
        visibility: visible;
        overflow-x: hidden;  
    }

    .menu-rightbar-container {
        display: block;
        position: fixed;
        visibility: hidden;

    }

    #right-menu-mobile.active .items-sidebar {
        display: block;
        position: fixed;
        color: #23272A;
        background-color: #fefffe;
        height: 100%;
        width: 300px;
        margin: 0;
        top: 0;
        right: 0;
        padding-top: 20px;
        padding-left: 25px;
        border-radius: 15px 0px 0px 15px;
        z-index: 9999;
        visibility: visible;
        overflow-x: hidden; 
    }

    #menuHamburguer.disabled{
        display: none;
        background-color: aqua;
        z-index: 1;
    }

    .top-sidebar {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-right: 25px;
    }

    .menu-rightbar-container #logo-menu-right {
        width: 40%;
    }

    #close.active {
        display: flex;;
        z-index: 1;   
    }

    #close {
        display: none;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    

    .space-bar {
        width: 80%;
        height: 1px;
        background: #ebedef;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .section-menu--mediaquerie nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .section-menu--mediaquerie nav a {
        align-self: flex-start;
        padding-left: 25px;
        font-weight: 300;
    }


    
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
        cursor: pointer;  
        border-radius: 5px;  
        width: 44px;
    }

    #hero-container {
 
        grid-template-columns: repeat(8, 1fr);
    }

    .hero-body {
        grid-column: span 5;
        text-align: start;
    }

    .hero-body .hero-text {
        text-align: start;
    }

    #hero-container {
        padding: 80px 40px;
    }

    .hero-button {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        gap: 20px;  
        width: max-content;
        border-radius: 28px;
        padding: 16px 10px;
        z-index: 2;
    }

    div.hero-image-container {
        max-width: 100%;
        justify-content: flex-start;

    }

    div.hero-image-container .left-background {
        display: none;
    }

    div.hero-image-container .right-background {
        display: block;
        position: absolute;
        max-width: 100%;
        top: auto;
        left: 20%;
        right: 0;
        bottom: 0;
        margin-left: 250px; 
    }

    div.section-container {
        padding: 80px 40px;
        grid-template-columns: repeat(8,1fr);
        gap: 0 20px;
    }

    div.section-container img {
        grid-column: span 4;
    }

    div.section-container .section-text {
        grid-column: span 4;
        text-align: start;
    }

    #second-section-container .section-container img {
        grid-column: span 4;;
    
    }

}
/*----Media para Smartphone-------------------------------------------------*/
@media (max-width: 767px) {
    

    h1 {
        font-size: 2rem;
        line-height: normal;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 800;
    }
    
    h3 {
        font-size: 2rem;
        text-align: start;
        max-width: 100%;
    }

    p {
        font-size: 1rem;
        text-align: start;
    }

    header {
        flex-direction: column;
        padding-bottom: 80px;
    }

    header .header-container {
        display: flex;
        flex-direction: row;
    }

    header section.section-menu--desktop {
        display: none;
    }

    header section.section-menu--mediaquerie {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-self: center;
        gap: 20px;
    }

    header section.section-menu--mediaquerie img {
        max-width: 150px;

    }

    .section-menu--mediaquerie .menu-right-align {
        flex-direction: row-reverse;
        gap: 0px;
    }

    .menu-right-align button#menuToggle {
        display: block;
        background-color: transparent;
        z-index: 1000;
    }


    #right-menu-mobile.active .menu-rightbar-container {
        display: block;
        color: #23272A;
        background: rgba(0,0,0,.3);
        height: 100%;
        width: 100%;
        margin: 0;
        top: 0px;
        right: 0;
        z-index: 10;
        visibility: visible;
        overflow-x: hidden;  
    }

    div.menu-rightbar-container {
        display: block;
        position: fixed;
        visibility: hidden;

    }

    #right-menu-mobile.active .items-sidebar {
        display: block;
        position: fixed;
        color: #23272A;
        background-color: #fefffe;
        height: 100%;
        width: 300px;
        margin: 0;
        top: 0;
        right: 0;
        padding-top: 20px;
        padding-left: 25px;
        border-radius: 15px 0px 0px 15px;
        z-index: 9999;
        visibility: visible;
        overflow-x: hidden; 
    }

    #menuHamburguer.disabled{
        display: none;
        background-color: aqua;
        z-index: 1;
    }

    div.top-sidebar {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-right: 25px;
    }

    .menu-rightbar-container #logo-menu-right {
        width: 40%;
    }

    #close.active {
        display: flex;;
        z-index: 1;   
    }

    header #close {
        display: none;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    

    div.space-bar {
        width: 80%;
        height: 1px;
        background: #ebedef;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    section.section-menu--mediaquerie nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    section.section-menu--mediaquerie nav a {
        align-self: flex-start;
        padding-left: 25px;
        font-weight: 300;
    }

    header .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
        cursor: pointer;  
        border-radius: 5px;  
        width: 44px;
    }
    
    #menuHamburguer.disabled{
        display: none;
    }
    
    #close.active{
        display: block;
    }

       
    header nav button#menuToggle {
        background-color: transparent;
        border: none;
    }

    div button#menuToggle {
        display: block;
    }
    

    div.hero-container {
        grid-template-columns: repeat(8, 1fr);
        padding: 80px 40px;
    }

    div.hero-body {
        grid-column: span 8;
        text-align: start;
    }

    header .hero-body .hero-text {
        text-align: start;
    }

    .hero-button {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        gap: 20px;  
        width: max-content;
        max-width: 100%;
        border-radius: 28px;
        padding: 16px 10px;
        margin-bottom: 130px;
        z-index: 2;
    }


    header .img-clouds {
        display: none;
    }

    div.hero-image-container {
        position: relative;
        max-width: 100%;
    }

    div.hero-image-container .left-background {
        bottom: 0;
        left: -13%;
    }

    div.hero-image-container .right-background {
        display: none;
    }

    div.section-container {
        padding: 56px 24px;
        grid-template-columns: repeat(4,1fr);
        gap: 0 20px;
    }

    div.section-container img {
        grid-column: span 4;
    }

    div.section-container .section-text {
        grid-column: span 4;
        text-align: start;
    }

    #second-section-container {
        grid-template-columns: 4;
    }

    #second-section-container .section-container img {
        grid-column: span 4;
        grid-row: 1;
        width: 100%;
    }

    #second-section-container .section-container .section-text {
        grid-column: span 4;
        grid-row: 2;
    }

    div.lets-talk button {
        max-width: 100%;
        padding: 10px;
    }

    footer img {
        max-width: 150px;
    }
}